:root {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

html, body {
    min-height: 100vh;
    color: $--color-text;
    background: $--color-background;
    font-family: 'Poppins', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.6rem;
}

#app {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    margin: 0 auto;
    min-height: 100vh;
}

main {
    display: flex;
    flex: 1;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

a {
    color: $--color-text;
    text-decoration: none;
}

button {
    font-family: inherit;
}

.disableScroll {
    overflow: hidden;
}