:root {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-weight: normal;
    margin: 0;
    position: relative;
}

html, body {
    background: $--color-background;
    color: $--color-text;
    font-family: 'Poppins', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#app {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    margin: 0 auto;
    min-height: 100vh;
}

main {
    display: flex;
    flex: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    width: 100%;
}

a {
    color: $--color-text;
    text-decoration: none;
}

button {
    font-family: inherit;
}

.disableScroll {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}