.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: auto;
    backdrop-filter: blur(5px);
}
.modal {
    max-width: 500px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 85vh;
    box-shadow: 2px 2px 1px var(--color-primary);
    background: var(--color-overlay);
    border-radius: 5px;
    padding: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background: var(--color-primary);
        border-radius: 50%;
        box-shadow: 0 0 15px rgb(0 0 0 / 30%);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1;

        svg {
            color: black;
        }
    }

    &__header {
        margin-bottom: 10px;
    }

    &__image {
        align-items: center;
        background-blend-mode: multiply;
        background-image: url("@/assets/images/exercises/biceps/lat-pulldown.jpg");
        background-color: rgb(95, 95, 95);
        background-position: center;
        background-size: 100%;
        display: flex;
        flex-direction: column;
        height: 100px;
        justify-content: center;
        transition: all .25s ease-in-out;
        border-radius: 15px;
        margin-bottom: 1rem;
    }

    &__title {
        font-size: 2rem;
        font-weight: bold;
    }

    &__subtitle {
        font-size: 1.2rem;
        color: var(--color-text-muted-1);
    }

    &__group {
        margin-bottom: 10px;
    }

    &__text {
        font-size: 1.4rem;
        color: var(--color-text-muted-2);

        &-area {
            max-height: 100px;
            overflow: auto;
        }
    }

    &__video {
        margin-top: 5px;
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 10px;
    }

    &__select {
        width: 100%;
        margin-top: 5px;
        padding: 5px;
        border-radius: 5px;
        outline: none;
        background: var(--color-overlay);
        border: 2px solid var(--color-primary);
        color: var(--color-text-muted-2);

        option {
            font-size: 1.2rem;
            color: var(--color-text);
        }

        optgroup {
            color: var(--color-primary);
            background: var(--color-overlay);
        }
    }

    &__input-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 5px;
    }

    &__input {
        padding: 5px;
        font-size: 1.4rem;
        color: var(--color-text-muted-1);
        background: transparent;
        border: none;
        border-bottom: 2px solid var(--color-primary);
        outline: none;
        transition: all 0.25s ease-in-out;

        &::placeholder {
            color: var(--color-text-muted-3);
        }

        &:focus {
            border-color: var(--color-secondary);
        }

        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &-area {
            font-family: inherit;
            resize: none;
            height: 100px;
        }
    }

    &__hint {
        margin-top: 5px;
        color: var(--color-text-muted-2);
        font-size: 1rem;

        a {
            color: var(--color-secondary);
        }
    }

    &__footer {
        margin-top: auto;
    }

    &__error {
        margin: 5px 0px;
        color: $--color-error;
        font-size: 1.2rem;
        text-align: center;
    }

    &__button-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &__button {
        width: 100%;
        padding: 10px 20px;
        background-color: var(--color-primary);
        color: var(--color-on-primary);
        border: none;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        font-size: 1.6rem;
        transition: all 0.25s ease-in-out;

        &--secondary {
            background-color: var(--color-secondary);
        }

        &:disabled {
            background: rgba(255, 255, 255, 0.12);
            color: rgba(255,255,255,0.5);
            letter-spacing: 3px;
            cursor: wait;

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 2px solid white;
                border-top-color: transparent;
                animation: spin 1s linear infinite;
            }
        }
    }
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}